.container {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "dis dis dis dis"
    "AC C div times"
    "seven eight nine minus"
    "four five six puls"
    "one two three equal"
    "zero zero dot equal";
}

.padButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background-color: gray;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}

.padButton:hover {
  border: 1px solid white;
  color: #ccc;
}

.blue {
  background-color: #5599ff;
}

.tomato {
  background-color: tomato;
}

.dark-gray {
  background-color: #333;
}

.dis {
  grid-area: dis;
  background-color: black;
  text-align: right;
  font-size: 20px;
  overflow: hidden;
  padding: 10px;
}

.dis input {
  border: none;
  width: 100%;
  height: 100%;
  color: white;
  text-align: right;
  background-color: black;
}

.total {
  /* text-align: right; */
  padding: 5px 20px;
  color: yellow;
}

input::placeholder {
  color: white;
}

.dis input:-ms-input-placeholder {
  color: white;
}

.zero {
  grid-area: zero;
}

.equal {
  grid-area: equal;
}
